<h1>About Me</h1>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "http://via.placeholder.com/350x150", width: 300, height: 400, alt: "Profile Image" %>
  </div>
  <div class="col-md-8">
    <p>This page will be some more information about me. The McDonnell Douglas A-4G Skyhawk, a variant of the Douglas A-4 Skyhawk attack aircraft, was developed for the Royal Australian Navy (RAN), and first flown on 19 July 1967. Ten were delivered in 1967 and another ten in 1971, and the type was in service with the RAN until 1984. They joined the air group of the aircraft carrier HMAS Melbourne, and were primarily used to provide air defence for the fleet and take part in exercises throughout the Pacific region. They did not see combat. Ten A-4Gs were destroyed as a result of equipment failures and non-combat crashes during the type's service with the Navy, causing the deaths of two pilots. The RAN had no need for most of its fixed-wing aircraft after Melbourne was decommissioned in 1982, and the ten remaining A-4Gs were sold to the Royal New Zealand Air Force in 1984; they were initially used for training purposes, and were retired in 2001. Eight A-4Ks, including six former A-4Gs, were sold to Draken International in 2012, and are in service supporting United States military training exercises.</p>
    <p>
      <button
        class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#jobHistory"
        aria-expanded="false"
        aria-controler="jobHistory"
      >
        Job History
      </button>
      <button
        class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#education"
        aria-expanded="false"
        aria-controler="education"
      >
        Education
      </button>
    </p>
    <p>
      <div class='collapse' id='jobHistory'>
        <div>
          Job 1
        </div>
        <div>
          Job 2
        </div>
        <div>
          Job 3
        </div>
      </div>
      <div class="collapse" id="education">
        <div>
          School 1
        </div>
        <div>
          School 2
        </div>
        <div>
          School 3
        </div>
      </div>
    </p>
  </div>
</div>

