<h1>Contact</h1>

<div class="row">

  <div class="col-md-6">
     <h4>Email</h4>
     <p>tess.jorgen@gmail.com</p>
     <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Send Mail</a>
     <h4>Phone Number</h4>
     <p><%= number_to_phone "8016683522" %></p>
     <p> Some more Information to make the column look more normal. </p
     <p>FBLA's National Awards Program, also called competitive events, give your students the opportunity to compete against the best-of-the-best in over 60 academic events that cover technology, public speaking, business, finance, management, and more. The top winners take home trophies and cash from sponsored events.

        FBLA programs help you integrate business-related, cocurricular content into your classroom, plus you can reinforce your existing courses with FBLA's rigorous academic competitions.
     </p>
  </div>
  
  <div class="col-md-6">
    <h4>School Address</h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3028.530213007381!2d-111.87091127808908!3d40.61818759218066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752882df71cc419%3A0x9cdcbf774e594184!2sHillcrest+High+School!5e0!3m2!1sen!2sus!4v1499794299188" width="450
    " height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</div>